/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Assets will be build on server, so dont track them
public/js
public/style
public/img
public/mix-manifest.json
